@font-face
  font-family: 'Old London'
  src: url('./Theme/Font/OldLondon.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

.font--old-london
  font-family: 'Old London', serif

@font-face
  font-family: 'Medieval Sharp'
  src: url('./Theme/Font/MedievalSharp-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

.font--sharp
  font-family: 'Medieval Sharp', serif