.fade-right-soft-enter-active, 
.fade-right-soft-leave-active
  transition: opacity var(--fade-right-soft--time, var(--transition--time, 10s)) ease, transform var(--fade-right-soft--time, var(--transition--time, 10s)) ease-in-out

.fade-right-soft-enter, 
.fade-right-soft-leave-to
  opacity: 0
  transform: translateX(2em) !important