.roll-left-enter-enter-active, 
.roll-left-enter-leave-active
  transition: transform .3s ease-in-out, opacity .2s ease-in-out

.roll-left-enter-enter, 
.roll-left-enter-leave-to
  opacity: 0
  transform: rotateY(-20deg) translateX(-15%)