@import Transition/Fade

:root
  --primary: #2F3E67
  --secondary: #93A6DA

  --pen: white
  --pen-secondary: grey

body
  font-family: sans-serif

.el-notification

  &__content strong
    background: var(--secondary)
    color: var(--pen)
    padding: 2px 4px 
    border-radius: 2px