@keyframes drop-pulse
  0%
    filter: drop-shadow(0 0 3px rgba(var(--drop-pulse--color, var(--animation--color, 255, 0, 0)), 1))
  50%
    filter: drop-shadow(0 0 12px rgba(var(--drop-pulse--color, var(--animation--color, 255, 0, 0)), .6))
  100%
    filter: drop-shadow(0 0 3px rgba(var(--drop-pulse--color, var(--animation--color, 255, 0, 0)), 1))