
:root
  --color--main: #333
  --color--main-light: #444
  --color--side: #252526
  --color--background: #222
  --color--dark: #181818
  --color--highlight: #0e639c
  --color--highlight-light: #017acc
  --color--highlight-dark: #03233a
  --color--highlight-second: #917038
  --color--highlight-second-light: #b18740
  --color--highlight-second-dark: #6d5730
  --color--ui-main: #203a43
  --color--ui-main-light: #2c5364
  --color--ui-main-dark: #0f2027
  --color--ui-grey: #232526
  --color--ui-grey-light: #414345
  --color--ui-disabled: #777
  
  --color--form--element: transparent

  --color--font-main: white
  --color--font-light: #CCC
  --color--font-dark: #AAA

  --shadow--ui: 0 0 3px 3px #0006

  --background--highlight: linear-gradient(to top, var(--color--highlight), var(--color--highlight-light))
  --background--ui: linear-gradient(to top, var(--color--ui-main), var(--color--ui-main-light))
  --background--ui-background: var(--color--dark)

  --radius: 4px

@import Table
@import Input
@import ButtonGroup
@import Grid
@import Dialog