.el-table
  border-color: 2px solid var(--color--main) !important

  &:before
    background: var(--color--background)

  &__row
    background-color: var(--color--main) !important
    color: var(--color--font-dark)

  &__row:hover
    background: var(--color--main-light) !important

  &__cell
    border-color: var(--color--background) !important

  &__body-wrapper
    background: var(--color--main)

  tbody tr:hover > &__cell
    background: transparent !important

  thead th
    background-color: var(--color--side) !important